.container-fluid {
  width: 100%;
}

.d-flex {
  display: flex;
  width: 100%;
}

.no-wrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.row-lg {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.row-md {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.row-sm {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.row-xs {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-stretch {
  justify-content: stretch;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

@media only screen and (min-width: 36em) {
//sm
  .row-sm {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .col-sm-1 {
    flex-basis: 8.33%;
  }

  .col-sm-2 {
    flex-basis: 16.66%;
  }

  .col-sm-3 {
    flex-basis: 25%;
  }

  .col-sm-4 {
    flex-basis: 33.33%;
  }

  .col-sm-5 {
    flex-basis: 41.66%;
  }

  .col-sm-6 {
    flex-basis: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.33%;
  }

  .col-sm-8 {
    flex-basis: 66.66%;
  }

  .col-sm-9 {
    flex-basis: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.33%;
  }

  .col-sm-11 {
    flex-basis: 91.66%;
  }

  .col-sm-12 {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 48em) {
//md
  .row-md {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .col-md-1 {
    flex-basis: 8.33%;
  }

  .col-md-2 {
    flex-basis: 16.66%;
  }

  .col-md-3 {
    flex-basis: 25%;
  }

  .col-md-4 {
    flex-basis: 33.33%;
  }

  .col-md-5 {
    flex-basis: 41.66%;
  }

  .col-md-6 {
    flex-basis: 50%;
  }

  .col-md-7 {
    flex-basis: 58.33%;
  }

  .col-md-8 {
    flex-basis: 66.66%;
  }

  .col-md-9 {
    flex-basis: 75%;
  }

  .col-md-10 {
    flex-basis: 83.33%;
  }

  .col-md-11 {
    flex-basis: 91.66%;
  }

  .col-md-12 {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 62em) {
//lg
  .row-lg {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .col-lg-1 {
    flex-basis: 8.33%;
  }

  .col-lg-2 {
    flex-basis: 16.66%;
  }

  .col-lg-3 {
    flex-basis: 25%;
  }

  .col-lg-4 {
    flex-basis: 33.33%;
  }

  .col-lg-5 {
    flex-basis: 41.66%;
  }

  .col-lg-6 {
    flex-basis: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.33%;
  }

  .col-lg-8 {
    flex-basis: 66.66%;
  }

  .col-lg-9 {
    flex-basis: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.33%;
  }

  .col-lg-11 {
    flex-basis: 91.66%;
  }

  .col-lg-12 {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 35.99em) {
//xs
  .row-xs {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .col-xs-1 {
    flex-basis: 8.33%;
  }

  .col-xs-2 {
    flex-basis: 16.66%;
  }

  .col-xs-3 {
    flex-basis: 25%;
  }

  .col-xs-4 {
    flex-basis: 33.33%;
  }

  .col-xs-5 {
    flex-basis: 41.66%;
  }

  .col-xs-6 {
    flex-basis: 50%;
  }

  .col-xs-7 {
    flex-basis: 58.33%;
  }

  .col-xs-8 {
    flex-basis: 66.66%;
  }

  .col-xs-9 {
    flex-basis: 75%;
  }

  .col-xs-10 {
    flex-basis: 83.33%;
  }

  .col-xs-11 {
    flex-basis: 91.66%;
  }

  .col-xs-12 {
    flex-basis: 100%;
  }
}

