@import "./helper";

.font-thin {
  font-weight: $font-thin;
}

.font-bolder {
  font-weight: $font-bolder;
}

.font-bold {
  font-weight: $font-bold;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-no-wrap {
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-open-sans;
}

p, .p {
  font-family: $font-open-sans;
  font-size: $font-size-p;
}

a {
  font-family: $font-open-sans;
  font-size: $font-size-p;
  @extend %clear-outline;
}

h1, .h1 {
  font-size: $font-size-h1;
}

h2, .h2 {
  font-size: $font-size-h2;
}

h3, .h3 {
  font-size: $font-size-h3;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
