$border-radius-small: 3px;
$border-radius-medium: 6px;
$border-radius-large: 10px;
$color-white: #fff;
$color-black: #000;
$color-yellow: #ffb400;
$color-primary: #111;
$color-secondary: #0bceaf;
$color-tertiary: #2796e2;
