$border-radius-small: 3px;
$border-radius-medium: 6px;
$border-radius-large: 10px;
$border-radius-giant: 30px;
$base-padding: 4rem;
$font-poppins: "Poppins", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$font-size-h1: 5.6rem;
$font-size-h2: 5.1rem;
$font-size-h3: 2.6rem;
$font-size-nav: 2rem;
$font-size-p: 1.6rem;
$font-thin: 300;
$font-bolder: 500;
$font-bold: 600;
$font-boldest: 700;
$color-white: #fff;
$color-black: #000;
$color-yellow: #ffb400;
$color-primary: #111;
$color-secondary: #0bceaf;
$color-tertiary: #2796e2;
